@import url('https://fonts.googleapis.com/css?family=Raleway:100,200,400');

* {
  margin:0;
  padding:0;
}

html, body {
  background-color: rgb(9, 190, 157);
  height: 100%;
}

#react-root{
  height: 100%;
}

.fullWidth {
  width: 100%;
}

.fullHeight {
  height: 100%;
}

.timerContainer {
  width: 100%;
  margin-top: 4em !important;
}

.taskNewContainer {
  align-items: center;
  width: 100%;
  margin-top: 4em !important;
}

.navContainer {
  width: 100% !important;
  position: fixed !important;
}

.menuBG {
  display: inline-flex !important;
  width: 100% !important;
  background-color: rgba(255, 255, 255, 0.7) !important;
}

:root {
  --main-dark: #004D40;
  --main-light: #1DE9B6;
}

.chatBox{
  display: flex;
  align-items: flex-start;
  justify-content: flex-end;;
  height: 100%;
}

.timerContainers {
  margin-bottom: 2em;
}

.clock {
  font-size: 5em;
  font-weight: 300;
  font-family: 'Lato';
  width: 100%;
  text-align: center;
  color: #fff;
  position: relative;
}

.clockText{
  margin-top: -2.5em;
  margin-bottom: 1.5em;
}

.circular {
  left: 0;
  width: 100%;
  text-align: center;
}

.taskFrame{
  transition: all 0.3s ease;
  background-color: rgba(0, 0, 0,.3);
  width: 90%;
  display: flex;
  flex-direction: column;
  margin-top:.5em;
  justify-content:space-around;
  align-items: center;
  padding-bottom: 2.5%;
  padding-top: 2.5%;
  border-left: 16px solid white;
}

.taskFrame:hover{
  background-color: rgba(0, 0, 0,.5);
}

.taskFrameTop{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.taskFrameTop.taskName {
  font-family: 'Raleway', sans-serif;
  font-size: 3em;
  font-weight: 400;
  margin-left: 1em;
  padding-right: 0;
  margin-right: 0px;
}

.taskFrameTop .totalPomos{
  font-family: 'Raleway', sans-serif;
  font-size: 1.5em;
  color: rgba(255, 255, 255,1);
  font-weight: 800;
  background-color: rgba(0, 0, 0,.5);
  margin-bottom: 0px;
  margin-top: -2.8%;
  align-self: flex-start;
}

.taskFrameBottom{
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
}

/* ---------------------   Tasks Page   -----------------------*/

.taskList{
  flex-direction: column;
  width: 100%;
  align-items: center;
}

.taskListCard{
  width: 80%;
}

.tagView .totalPomos{
  font-family: 'Raleway', sans-serif;
  font-size: 1.5em;
  color: white;
  font-weight: 800;
  background-color: black;
  opacity: .5;
  align-self:flex-start;
  padding:0.5em;
  margin-top: 0px;
  margin-bottom: 0px;
}

.auth{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}
