@import url('https://fonts.googleapis.com/css?family=Raleway:100,200,400');
:root {

	/*New theme colors*/
	--fallback:#041828;
	--fallback-light:#557A99;
	--fallback-dark:#010E19;

	--red:#F71735;
	--red-dark:#3D0008;
	--red-light:#F7C0C8;

	--turk:#41DCEA;
	--turk-dark:#00484F;
	--turk-light:#A5F7FF;

	--white:#FDFFFC;

	--kahve:#8C5710;
	--kahve-dark:#381F00;
	--kahve-light:#BFA17A;




	/*
	--main-darker:#004226;
	--main-dark:#004D40;
	--main-light: #1DE9B6;
	--main-lighter: #89ffb8;
	--dark-purple:#49004d;


	--green: #6ed3cf;
	--purple: #9068be;
	--white: #e1e8f0;
	--red: #e62739;
	--dark: #242728;
	*/

}



* {
	margin:0;
	padding:0;
}

html, body {
	background-color: var(--turk);
	height: 100%;
}

#react-root{
	height: 100%;
}

.fullWidth {
	width: 100%;
}

.fullHeight {
	height: 100%;
}

.timer {
	margin-bottom: 2em !important;
}

.timerContainer {
	width: 100%;
	margin-top: 4em !important;
}

.taskNewContainer {
	align-items: center;
	width: 100%;
	margin-top: 4em !important;
}

.navContainer {
	width: 100% !important;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.menuBG {
	display: inline-flex !important;
	align-self: center;
	-webkit-align-items: center;
	align-items: center;
	-webkit-justify-content: center;
	justify-content: center;
	width: 100%;
}

.menuBG button * {
	color: var(--turk-dark) !important;
	opacity:1;
}

.menuBG button{
	color: var(--turk-dark) !important;
	border-top: 3px var(--turk) solid !important;
}

.menuBG {
	animation: topSlideIn linear .7s !important;
	animation-iteration-count: 1 !important;
	transform-origin: 50% 50% !important;
}

.menuBG button:hover{
	/*background-color: var(--turk-light) !important;*/
	color: var(--turk-light) !important;
}

.menuBG .selected.navButton {
	border-top: 3px var(--fallback) solid !important;
}

.menuBG .selected.navButton *{
	color: var(--fallback) !important;
	opacity: 1;
}

.chatBox{
	display: flex;
	align-items: flex-start;
	justify-content: flex-end;;
	height: 100%;
}

.timerContainers {
	margin-bottom: 2em;
}

.clock {
	font-size: 5em;
	font-weight: 300;
	font-family: 'Lato';
	width: 100%;
	text-align: center;
	color: var(--white);
	position: relative;
	display: flex;
	flex-direction: column;
}

.clockLogo{
	align-self: center;
	width: 1.5em;
	margin-top: -3.7em;
	margin-bottom: 2.9em;
}

.clockText{
	margin-top: -3em;
	margin-bottom: 1.5em;
}

.circular {
	left: 0;
	width: 100%;
	text-align: center;
}


/*Task Frame  */

.taskFrame{
	display: flex;
	flex-direction: column;

	margin: auto;
	margin-top:.35em;
	align-items: stretch;
	width: 90%;

}

.taskFrame:hover{
}

.taskFrameTop{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	width: 100%;
}

.taskFrameTop.taskName {
	font-family: 'Raleway', sans-serif;
	font-size: 3em;
	font-weight: 400;
	margin-left: 1em;
	padding-right: 0;
	margin-right: 0px;
}

.taskFrameTop .totalPomos{
	font-family: 'Raleway', sans-serif;
	font-size: 1.5em;
	color: rgba(255, 255, 255,1);
	font-weight: 800;
	background-color: rgba(0, 0, 0,.5);
	margin-bottom: 0px;
	margin-top: -2.8%;
	align-self: flex-start;
}

.taskFrameBottom{
	width: 100%;
	display: flex;
	flex-direction: row;
	align-items: flex-end;
}
.taskListItem{
	background-color: rgba(15, 177, 191, 0.55);
	margin: auto;
	border-radius: .25em;

}
.taskListItem:hover {
	background-color: rgba(31, 237, 255, 0.40);
}

.taskListItem.checked {
	opacity: .2 !important;
	background-color: var(--white);
}

/* TASK DETAILS*/

.taskDetailsTitle{
	color: var(--turk-light) !important;
	font-size: 1em !important;
}

.taskDetailsContent > div{
	background-color: var(--fallback) !important;
}

.taskDetailsBody p {
	opacity: 1 !important;
	color: var(--white) !important;
}

.taskDetailsContent {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	width: 50% !important;
}

.taskDetailsContent .each{
	display: flex;
	flex-direction: row;
	align-self: center;
	align-items: stretch;;
	justify-content: space-between;
	margin: auto;
	margin-bottom: .5em;
	width: 75%;
}

.taskDetailsContent .taskName{
	font-size: 2em;
	margin: auto;
	margin-bottom: 1em;
	border-radius: .2em;
	text-align: center;
	background-color: var(--fallback-dark) !important;
	width: 75%;
	padding-bottom: .25em;
	padding-top: .25em;
}

.taskDetailsContent .target{
	padding: .5em;
	padding-right: 2em;
}

.taskDetailsContent p.value {
background-color:var(--fallback-dark);
color: var(--turk)  !important;
border-radius: .2em;

padding: .5em;
}

.taskDetailsActions {
	display: flex !important;
	flex-direction: row;
	align-items: center !important ;
	justify-content: center;
	background-color: var(--fallback);
}

.taskDetailsActions button{
 margin: 1em !important;
 color: var(--fallback) !important;
 background-color: var(--turk) !important;
}
.taskDetailsActions button:hover{
	color: var(--fallback-dark) !important;
	background-color: var(--turk-light) !important;
}

.taskDetailsActions button:disabled {
	opacity: .2 !important;
}

.taskDetailsActions button.start{
 margin: 1em !important;
 color: var(--fallback) !important;
 background-color: green !important;
}

/* TASK Edit*/

.taskEditTitle{
	color: var(--fallback-light) !important;
	font-size: 1em !important;
}

.taskEditContent > div{
	background-color: var(--fallback) !important;
}
.taskEditBody{
	display: flex !important;
	flex-direction: column!important;
	align-items: center;
}
.taskEditBody div {
	color: var(--white) !important;
}

.taskEditContent {
	display: flex !important;
	flex-direction: column!important;
	justify-content: center!important;
	width: 50% !important;
}

.taskEditContent input{
	margin-bottom: .5em;
	color: var(--white) !important;
}

.taskEditContent .each label{
	color: var(--fallback-light) !important;
}
.taskEditContent input:focus  {
	color: var(--turk) !important;
}

.taskEditActions {
	display: flex !important;
	flex-direction: row;
	align-items: center !important ;
	justify-content: center;
	border-radius: 1px;
}

.taskEditActions button{
	background-color: var(--turk) !important;
 margin: 1em !important;
 color: var(--fallback) !important;

}

.taskEditActions button:hover{
	color: var(--fallback-dark) !important;
	background-color: var(--turk-light) !important;
}


/*Task List*/
.taskListCard{
	background-color: var(--turk-light) !important;
	margin: auto;
	width: 80%;
	display: flex;
	flex-direction: column;
	align-items: stretch;
}

.taskListCard .subheader{
	display: flex!important;
	flex-direction: row!important;
	margin: auto;
	width: 100%;
}

.taskListCard .toggleChecked  {
width: 30% !important;
}

.taskList{
	padding-top: 2em;
	margin-bottom: 2em;
	margin: auto;
	width: 100%;
}

.tagView .totalPomos{
	font-family: 'Raleway', sans-serif;
	font-size: 1.5em;
	color: white;
	font-weight: 800;
	background-color: black;
	opacity: .5;
	align-self:flex-start;
	padding:0.5em;
	margin-top: 0px;
	margin-bottom: 0px;
}

.auth{
	flex-direction: column;
	align-items: center;
	justify-content: center;
	/*height: 100%;*/
}

.authLogo  {
	display: flex;
	flex-direction: column;
	-webkit-align-items: center;
	align-items: center;
	-webkit-justify-content: center;
	justify-content: center;
	width: 7.5em;
	margin: auto;
}

#svgLogo {
}

.logo {
}



/* Animations */

/* Taskframe Animation*/

.taskFrameLoad-enter{
	animation: slideIn 0.6s cubic-bezier(.165, .84, .44, 1) !important;
}

.taskFrameLoad-leave{
	animation: slideOut 0.4s cubic-bezier(.165, .84, .44, 1) !important;
}

.loading #icon{
	width: 7em;
}

.loading #dial1{
	fill:var(--turk-dark) !important;
	animation: loadingRotate1 linear 2s;
	animation-iteration-count: infinite;
	transform-origin: 0% 100%;
	-webkit-animation: loadingRotate1 linear 2s;
	-webkit-animation-iteration-count: infinite;
	-webkit-transform-origin: 0% 100%;
	-moz-animation: loadingRotate1 linear 2s;
	-moz-animation-iteration-count: infinite;
	-moz-transform-origin: 0% 0%;
	-o-animation: loadingRotate1 linear 2s;
	-o-animation-iteration-count: infinite;
	-o-transform-origin: 0% 0%;
	-ms-animation: loadingRotate1 linear 2s;
	-ms-animation-iteration-count: infinite;
	-ms-transform-origin: 0% 0%;
}

.loading #dial2{
	fill:var(--turk-dark) !important;
	animation: loadingRotate1 linear .6s;
	animation-iteration-count: infinite;
	transform-origin: 0% 0%;
	-webkit-animation: loadingRotate1 linear .6s;
	-webkit-animation-iteration-count: infinite;
	-webkit-transform-origin: 0% 0%;
	-moz-animation: loadingRotate1 linear .6s;
	-moz-animation-iteration-count: infinite;
	-moz-transform-origin: 0% 0%;
	-o-animation: loadingRotate1 linear .6s;
	-o-animation-iteration-count: infinite;
	-o-transform-origin: 0% 0%;
	-ms-animation: loadingRotate1 linear .6s;
	-ms-animation-iteration-count: infinite;
	-ms-transform-origin: 0% 0%;
}

.loading #circle{
	fill:var(--turk-dark) !important;
	animation: loadingRotate2 linear 1s;
	animation-iteration-count: infinite;
	transform-origin: 0% 50%;
	-webkit-animation: loadingRotate2 linear 1s;
	-webkit-animation-iteration-count: infinite;
	-webkit-transform-origin: 0% 50%;
	-moz-animation: loadingRotate2 linear 1s;
	-moz-animation-iteration-count: infinite;
	-moz-transform-origin: 0% 50%;
	-o-animation: loadingRotate2 linear 1s;
	-o-animation-iteration-count: infinite;
	-o-transform-origin: 0% 50%;
	-ms-animation: loadingRotate2 linear 1s;
	-ms-animation-iteration-count: infinite;
	-ms-transform-origin: 0% 50%;
}

.loading #dot{
	fill:var(--fallback-light) !important;
}





@keyframes slideIn{
	0% {
		opacity: 0;
		transform: translate3d(-50px,0,0);
	}

	100% {
		opacity: 1;
		transform: translate3d(0,0,0);
	}
}

@keyframes slideOut{
	0% {
		opacity: 1;
		transform: translate3d(0,0,0);
	}

	100% {
		opacity: 0;
		transform: translate3d(50px,0,0);
	}
}





/*Nav and timer Animation*/


.clockAnimation-enter,.clockAnimation-appear{
	animation: topSlideIn ease-in .2s;
	animation-iteration-count: 1;
	transform-origin: 50% 50%;
	-webkit-animation: topSlideIn linear .5s;
	-webkit-animation-iteration-count: 1;
	-webkit-transform-origin: 50% 50%;
	-moz-animation: topSlideIn linear .5s;
	-moz-animation-iteration-count: 1;
	-moz-transform-origin: 50% 50%;
	-o-animation: topSlideIn linear .5s;
	-o-animation-iteration-count: 1;
	-o-transform-origin: 50% 50%;
	-ms-animation: topSlideIn linear .5s;
	-ms-animation-iteration-count: 1;
	-ms-transform-origin: 50% 50%;
}

.clockAnimation-leave{
}


.clockAnimation-appear{
	animation: topSlideIn ease-in .2;
	animation-iteration-count: 1;
	transform-origin: 50% 50%;
	-webkit-animation: topSlideIn linear .5s;
	-webkit-animation-iteration-count: 1;
	-webkit-transform-origin: 50% 50%;
	-moz-animation: topSlideIn linear .5s;
	-moz-animation-iteration-count: 1;
	-moz-transform-origin: 50% 50%;
	-o-animation: topSlideIn linear .5s;
	-o-animation-iteration-count: 1;
	-o-transform-origin: 50% 50%;
	-ms-animation: topSlideIn linear .5s;
	-ms-animation-iteration-count: 1;
	-ms-transform-origin: 50% 50%;
}

.timer {
	animation: topSlideIn linear .4s;
	animation-iteration-count: 1;
	transform-origin: 50% 50%;
	-webkit-animation: topSlideIn linear .4s;
	-webkit-animation-iteration-count: 1;
	-webkit-transform-origin: 50% 50%;
	-moz-animation: topSlideIn linear .4s;
	-moz-animation-iteration-count: 1;
	-moz-transform-origin: 50% 50%;
	-o-animation: topSlideIn linear .4s;
	-o-animation-iteration-count: 1;
	-o-transform-origin: 50% 50%;
	-ms-animation: topSlideIn linear .4s;
	-ms-animation-iteration-count: 1;
	-ms-transform-origin: 50% 50%;
}


/*  KEYFRAME topSlideIn */
@keyframes topSlideIn{
	0% {
		opacity:0;
		transform:  translate(2px,-50px)  scaleX(3.00) scaleY(3.00) ;
	}
	58% {
		opacity:0.40527838960015594;
		transform:  translate(0,0)  scaleX(1.00) scaleY(1.00) ;
	}
	100% {
		opacity:1;
		transform:  translate(0,0)  scaleX(1.00) scaleY(1.00) ;
	}
}

@-moz-keyframes topSlideIn{
	0% {
		opacity:0;
		-moz-transform:  translate(2px,-50px)  scaleX(2.00) scaleY(2.00) ;
	}
	58% {
		opacity:0.40527838960015594;
		-moz-transform:  translate(2px,-29px)  scaleX(1.00) scaleY(1.00) ;
	}
	100% {
		opacity:1;
		-moz-transform:  translate(2px,2px)  scaleX(1.00) scaleY(1.00) ;
	}
}

@-webkit-keyframes topSlideIn {
	0% {
		opacity:0;
		-webkit-transform:  translate(2px,-50px)  scaleX(2.00) scaleY(2.00) ;
	}
	58% {
		opacity:0.40527838960015594;
		-webkit-transform:  translate(2px,-29px)  scaleX(1.00) scaleY(1.00) ;
	}
	100% {
		opacity:1;
		-webkit-transform:  translate(2px,2px)  scaleX(1.00) scaleY(1.00) ;
	}
}

@-o-keyframes topSlideIn {
	0% {
		opacity:0;
		-o-transform:  translate(2px,-50px)  scaleX(2.00) scaleY(2.00) ;
	}
	58% {
		opacity:0.40527838960015594;
		-o-transform:  translate(2px,-29px)  scaleX(1.00) scaleY(1.00) ;
	}
	100% {
		opacity:1;
		-o-transform:  translate(2px,2px)  scaleX(1.00) scaleY(1.00) ;
	}
}

@-ms-keyframes topSlideIn {
	0% {
		opacity:0;
		-ms-transform:  translate(2px,-50px)  scaleX(2.00) scaleY(2.00) ;
	}
	58% {
		opacity:0.40527838960015594;
		-ms-transform:  translate(2px,-29px)  scaleX(1.00) scaleY(1.00) ;
	}
	100% {
		opacity:1;
		-ms-transform:  translate(2px,2px)  scaleX(1.00) scaleY(1.00) ;
	}
}


/*    KEYFRAME loadingRotate1 */

@keyframes loadingRotate1{
	0% {
		transform:  rotate(0deg) ;
	}
	50% {
		transform:  rotate(180deg) ;
	}
	100% {
		transform:  rotate(360deg) ;
	}
}

@-moz-keyframes loadingRotate1{
	0% {
		-moz-transform:  rotate(0deg) ;
	}
	50% {
		-moz-transform:  rotate(180deg) ;
	}
	100% {
		-moz-transform:  rotate(360deg) ;
	}
}

@-webkit-keyframes loadingRotate1 {
	0% {
		-webkit-transform:  rotate(0deg) ;
	}
	50% {
		-webkit-transform:  rotate(180deg) ;
	}
	100% {
		-webkit-transform:  rotate(360deg) ;
	}
}

@-o-keyframes loadingRotate1 {
	0% {
		-o-transform:  rotate(0deg) ;
	}
	50% {
		-o-transform:  rotate(180deg) ;
	}
	100% {
		-o-transform:  rotate(360deg) ;
	}
}

@-ms-keyframes loadingRotate1 {
	0% {
		-ms-transform:  rotate(0deg) ;
	}
	50% {
		-ms-transform:  rotate(180deg) ;
	}
	100% {
		-ms-transform:  rotate(360deg) ;
	}
}

/*   KEYFRAME loadingRotate1   */


@keyframes loadingRotate2{
	0% {
		transform:  rotate(0deg) scaleX(1.00) scaleY(1.00) ;
	}
	50% {
		transform:  rotate(-180deg) scaleX(2.00) scaleY(2.00) ;
	}
	100% {
		transform:  rotate(-360deg) scaleX(1.00) scaleY(1.00) ;
	}
}

@-moz-keyframes loadingRotate2{
	0% {
		-moz-transform:  rotate(0deg) scaleX(1.00) scaleY(1.00) ;
	}
	50% {
		-moz-transform:  rotate(-180deg) scaleX(2.00) scaleY(2.00) ;
	}
	100% {
		-moz-transform:  rotate(-360deg) scaleX(1.00) scaleY(1.00) ;
	}
}

@-webkit-keyframes loadingRotate2 {
	0% {
		-webkit-transform:  rotate(0deg) scaleX(1.00) scaleY(1.00) ;
	}
	50% {
		-webkit-transform:  rotate(-180deg) scaleX(2.00) scaleY(2.00) ;
	}
	100% {
		-webkit-transform:  rotate(-360deg) scaleX(1.00) scaleY(1.00) ;
	}
}

@-o-keyframes loadingRotate2 {
	0% {
		-o-transform:  rotate(0deg) scaleX(1.00) scaleY(1.00) ;
	}
	50% {
		-o-transform:  rotate(-180deg) scaleX(2.00) scaleY(2.00) ;
	}
	100% {
		-o-transform:  rotate(-360deg) scaleX(1.00) scaleY(1.00) ;
	}
}

@-ms-keyframes loadingRotate2 {
	0% {
		-ms-transform:  rotate(0deg) scaleX(1.00) scaleY(1.00) ;
	}
	50% {
		-ms-transform:  rotate(-180deg) scaleX(2.00) scaleY(2.00) ;
	}
	100% {
		-ms-transform:  rotate(-360deg) scaleX(1.00) scaleY(1.00) ;
	}
}
